.App {
  
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}

ul {
  padding-left: 0;
}

.App-container {
  width: 90vw;
  text-align: center;
}

.App-winners {
  display: inline-block;
  margin-left: 20px;
}

.App-winners:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 40px;
  background-color: #fff;
  margin-right: 20px;
  vertical-align: middle;
}

.App-winners:nth-child(2):before {
  display: none;
}

.App-btn {
  min-height: 180px;
}

.App-all-users {
  list-style: none;
  display: flex;
  justify-content: center;
}

.App-all-users li {
  padding: 0.7em;
  height: 1.5em;
  display: block;

  animation-iteration-count: initial;
}

.App-logo {
  height: 10vmin;
  margin-bottom: 20vh;
}

.App-link {
  color: #61dafb;
}

.App-all-users li.winner {
  animation-name: slide-in;

}

.App-all-users li.almost-winner {
  animation-name: slide-out;
}

.btn {
  width: 15em;
  height: 4em;
  /* border-radius: 50%; */
}

.btn.btn-start {
  background-color: #f8dd1f;
  box-shadow: 0 0 1em #f8dd1f;
  border: 1px solid #f8dd1f;

}

.btn.btn-stop {
  background-color: #fb5d5d;
  box-shadow: 0 0 1em #fb5d5d;
  border: 1px solid #fb5d5d;
  color: #fff;
}

.btn.fade-out {
  animation: slide-out 1s;
  animation-timing-function: ease-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}