.App {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-all-users {
  list-style: none;
  /* animation: Users-spin infinite 1s linear; */
}

.App-all-users li {
  padding: 0.7em;
  height: 1.5em;
  display: block;

  animation-iteration-count: initial;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

.App-all-users li.winner {
  animation-name: slide-in;
  
}

.App-all-users li.almost-winner {
  animation-name: slide-out;
}

@keyframes slide-in {
  0%   { opacity: 0; }
  50% {opacity: 0.5;}
  100% {  opacity: 1;}
}

@keyframes slide-out {
  0%   { opacity: 1; }
  50% {opacity: 0.5;}
  100% { opacity: 0; }
}
